<div class = "side-bar">
    <div>
      <img src = "/assets/pfp.png" class = "pfp-rose">
    </div>
    <h2 class = "name">Sadie Corbyn</h2>
  
    <div>
      <span class = "bi bi-laptop" onClick="location.href='Projects'"> Projects</span>
    </div>
  
    <div>
    <span class="bi bi-card-text" onClick="location.href='Aboutme'"> About Me</span>
    </div>
  
    <div>
    <!-- <span class="bi bi-github" onClick="location.href='https://github.com/SadieJS'"> Github</span> -->
    <a class="bi bi-github" href = "https://github.com/SadieJS" target = "_blank"> Github</a>
    </div>
  </div>